extends layout

block content
  h1= title
  -let results=[{Dog_age:2,Dog_breed:"Bulldog",Dog_speciality:"Courageous" },{Dog_age:3, Dog_breed: "Chow Chow", Dog_speciality:"Loyal companion" },{Dog_age:5, Dog_breed: "German Shepherd", Dog_speciality:"Large and strong dog" }]
  div(class="container-fluid")
  div(class="row")
    each dog,index in results
     div(class="col-sm-2") #{dog.Dog_age}- #{dog.Dog_breed}- #{dog.Dog_speciality}

